<style></style>

<div class="col-12 col-md-12 col-lg-10">
  <div class="box box-content">
    <!-- About -->
    <div class="pb-0 pb-sm-2">
      <h1 class="title title--h1 first-title title__separate">درباره ی من</h1>
      <%- ownerInfo?.bio ? ownerInfo.bio : "توضیحاتی وجود ندارد" %>
    </div>

    <div class="mt-2">
      <h2 class="title title--h1 first-title title__separate">جدیدترین کمپر ها</h2>
      <div class="swiper-container js-carousel-review">
        <div class="swiper-wrapper">
          <% if (campers.length) { %> <% campers.map(camper => { %>
          <a href="/camper?id=<%- camper.id %>" class="swiper-slide review-item" style="text-decoration: none">
            <svg class="avatar avatar--80" viewBox="0 0 84 84" xmlns="http://www.w3.org/2000/svg">
              <rect width="84" height="84" fill="none" stroke="none" />
              <image xlink:href="<%- camper.mainImage %>" width="84" height="84" preserveAspectRatio="xMidYMid slice" />
            </svg>
            <div class="review-item__textbox">
              <h4 class="title title--h5" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                <%- camper.name %>
              </h4>
              <div
                class="review-item__caption"
                style="
                  color: black;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: normal;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                "
              >
                <%- camper.description.replace(/(<([^>]+)>)/gi, "").length > 77 ?
                camper.description.replace(/(<([^>]+)>)/gi, "").substring(0, 77) + '...' :
                camper.description.replace(/(<([^>]+)>)/gi, "") %>
              </div>
            </div>
          </a>
          <% }) %> <% } else { %>
          <p>هیچ کامپی موجود نیست</p>
          <% } %>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="pb-0 pb-sm-2">
      <h2 class="title title--h1 first-title title__separate">فرم تماس</h2>

      <form id="contact-form" class="contact-form" data-toggle="validator">
        <div class="row">
          <div class="form-group col-12 col-md-6">
            <input
              type="text"
              class="form-control"
              id="nameContact"
              name="nameContact"
              placeholder="نام و نام خانوادگی"
              required="required"
              autocomplete="on"
              oninvalid="setCustomValidity('پر کردن این فیلد ضروری است.')"
              onkeyup="setCustomValidity('')"
            />
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group col-12 col-md-6">
            <input
              type="email"
              class="form-control"
              id="emailContact"
              name="emailContact"
              placeholder="ایمیل"
              required="required"
              autocomplete="on"
              oninvalid="setCustomValidity('ایمیل نادرست است')"
              onkeyup="setCustomValidity('')"
            />
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group col-12 col-md-12">
            <textarea
              class="textarea form-control"
              id="messageContact"
              name="messageContact"
              placeholder="پیام..."
              rows="4"
              required="required"
              oninvalid="setCustomValidity('فیلد را پر کنید')"
              onkeyup="setCustomValidity('')"
            ></textarea>
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-left">
            <div id="validator-contact" class="hidden"></div>
          </div>
          <div class="col-12 col-md-6 order-1 order-md-2 text-left">
            <button type="submit" class="btn"><i class="font-icon icon-send"></i> پیام بفرستید</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer"></footer>
</div>
