<div class="col-12 col-md-12 col-lg-10">
  <div class="box box-content">
    <div class="pb-3">
      <header class="header-post">
        <h1 class="title title--h1"><%- camper.name %></h1>
        <div class="gallery-post">
          <div class="gallery-post__images">
            <% camper.images.forEach(function(image) { %>
            <img class="gallery-post__item cover lazyload" src="<%- image %>" data-zoom alt="" />
            <% }) %>
          </div>
          <div class="gallery-post__caption">برای مشاهده تصویر در اندازه بزرگتر، کلیک کنید</div>
        </div>
      </header>
      <div class="caption-post"><%- camper.description %></div>

      <footer class="footer-post">
        <a
          class="footer-post__share"
          href="https://telegram.com/<%- ownerInfo.telegram %>"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-telegram"></i>
          <span>تلگرام</span>
        </a>
        <a
          class="footer-post__share"
          href="https://instagram.com/<%- ownerInfo.instagram %>"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-instagram"></i>
          <span>اینستاگرام</span>
        </a>
        <a
          class="footer-post__share"
          href="https://wa.me/<%- ownerInfo.phoneNumber.replace(/^0/, '') %>"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-whatsapp"></i>
          <span>واتس‌اپ</span>
        </a>
      </footer>
    </div>
  </div>
</div>
