<aside class="col-12 col-md-12 col-lg-2">
  <div class="sidebar box sticky-column">
    <ul class="nav">
      <li class="nav__item">
        <a class="<%= page === '' ? 'active' : '' %>" href="/"><i class="icon-user"></i>درباره ی ما</a>
      </li>
      <li class="nav__item">
        <a class="<%= page === 'resume' ? 'active' : '' %>" href="/resume"><i class="icon-file-text"></i>رزومه</a>
      </li>
      <li class="nav__item">
        <a class="<%= page === 'works' ? 'active' : '' %>" href="/works"><i class="icon-codesandbox"></i>کارها</a>
      </li>
      <li class="nav__item">
        <a class="<%= page === 'blog' ? 'active' : '' %>" href="/blog"><i class="icon-book-open"></i>وبلاگ</a>
      </li>
      <li class="nav__item">
        <a class="<%= page === 'contact' ? 'active' : '' %>" href="/contact"><i class="icon-book"></i>تماس با ما</a>
      </li>
    </ul>
  </div>
</aside>
